*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Century Gothc', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.contair{
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contair i{
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: .5;
}
.contair i:nth-child(1){
    border-radius: 51% 49% 36% 64% / 72% 38% 62% 28%;
    animation: animar 8s linear infinite;
}
.contair i:nth-child(2){
    border-radius: 70% 30% 36% 64% / 37% 79% 21% 63%;
    animation: animar 6s linear infinite;
}
.contair i:nth-child(3){
    border-radius: 69% 31% 56% 44% / 42% 43% 57% 58% ;
    animation: animar2 12s linear infinite;
}
@keyframes animar{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes animar2{
    0%{
        transform: rotate(360deg);
    }
    100%{
        
        transform: rotate(0deg);
    }
}
.contair:hover i{
    border: 4px solid var(--color);
    filter: drop-shadow(0 0 20px var(--color));
}
.contair .login{
    position: absolute;
    width: 300px;
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.contair .login h2{
    font-size: 4rem;
}
.contair .login .inputBox{
    width: 100%;
}
.contair .login .inputBox .input{
    width: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}
.contair .login .inputBox .input::placeholder{
    color: rgba(255, 255, 255, .75);
}

.contair .login .inputBox .input[type="submit"]{
    background: linear-gradient(45deg, #0176ea, #0300c0);
    border: none;
    cursor: pointer;
}

.contair .login .link{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contair .login .link a{
    color: #fff;
    text-decoration: none;
}